@model List<itTicketSystem.Models.Tickets>
@section Styles {
    <link rel="stylesheet" href="~/css/personelticket.css" />
}
@section Scripts {
    <script src="~/js/toast.js"></script>
}




<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <i class="fa-solid fa-question me-3"></i>
            <strong class="me-auto">BİLGİLENDİRME</strong>
            <small>1 dakika önce</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
           Bu sayfada Ticketları yönetebilirsiniz.
        </div>
    </div>
</div>



<div class="container">
    <div class="table-wrapper">
        <table class="table table-striped mb-0">

            <thead class="table-dark" style="position: sticky; top: 0; z-index: 1;">
                <tr>
                    <th>Id</th>
                    <th>Başlık</th>
                    <th>Açıklama</th>
                    <th>Durum</th>
                    <th>Öncelik</th>
                    <th>Kategori</th>
                    <th>Atanan</th>
                    <th>Oluşturulma</th>
                    <th>Kapanma</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var liste in Model)
                {
                    <tr>
                        <td>@liste.id</td>
                        <td>@liste.title</td>
                        <td>@liste.description</td>
                        <td>@liste.status</td>
                        <td>@liste.priority</td>
                        <td>@liste.category</td>
                        <td>@liste.AssignedToUser?.Username</td>
                        <td>@liste.created_at</td>
                        <td>@liste.closed_at</td>

                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>